@font-face {
  font-family: 'SF';
  src: url("/assets/fonts/sf.otf");
}
@font-face {
  font-family: 'SF Bold';
  src: url("/assets/fonts/sf_bold.otf");
}
.main {
  display:block;
}

.main {
  display:block;
}
body {
    margin: 0;
    background-color: #ffffff;
    color:black;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}
.f {
  padding-bottom:12px;
  text-align:center;
  color:black;
  bottom:0;
  left:0;
  width:100%;
  height: 50px;
  background-color: gainsboro;
  margin-top: auto;
}

p {
  color:black;
  font-size: 20px;
  font-family: 'SF', sans-serif;
}
label {
  color:black;
  font-size: 20px;
  font-family: 'SF', sans-serif;
}
h1 {
  color:black;
  font-family: 'SF Bold', serif;
}
h2 {
  color:black;
  font-family: 'Expletus Sans', serif;
  font-size:26px;
}
.qu {
  font-size:27px;
  margin-left: 100px;
  margin-top:80px;
}
.nav {
  position:sticky;
  background-color:#ffffff;
  padding-top:30px;
}
.first {
  margin-left:38%;
}
.mr {
  margin-left:140px;
  float:left;
}
.haha {
  margin-left:15px;
  margin-top:15px;
}
.nav .button {
  padding:10px;
  background-color:#4756df;
  color:white;
  border-radius:15px;
  margin-top:11px;
  width:80px;
  text-align:center;
  margin-left:50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav .button:hover {
  background-color:#3a4ad9;
  color:white;
}
.sign {
  width:400px;
  height:300px;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding:17px;
}
#fname {
  border:1px solid gray;
  border-radius:5px;
  font-family:'SF', sans-serif;
  font-size:20px;

}
.su {

  height:40px;
  border-radius:5px;
  background-color:#303030;
  border:none;
  padding:10px;
  color:black;
  outline: none;
  transition: all .2s ease-in-out; 
  cursor:pointer;
}
.su:hover {
  transform: scale(1.1); 
}
#fname:hover {
  border:1px solid black;
}
#fname:active {
  border:1px solid black;
}
h2 {
  font-family:"SF Bold";
  font-size: 25px;
}
.nav a {
  margin-left:50px;
  color:black;
  text-decoration: none;
  font-family: 'SF', sans-serif;
  margin-bottom:-10px;
  float:left;
  margin-top:20px;
  transition: all .2s ease-in-out; 
}
.nav a:hover{
  transform: scale(1.1); 
}
.nav .first {
  margin-left:54%;
  margin-top:20px;
}
.nav a:hover {
  color: grey;  
}

.sub {
  background-color:#cccccc; color:black;border:none;border-radius:10px;padding:10px;
  font-family:SF;
  transition: all .2s ease-in-out; 
  cursor:pointer;
}
.sub:hover {
  transform: scale(1.1); 
}
.se {
  width:200px;
  margin-left:80%;
  margin-top:-55px;
  border-radius:5px;
  background-color:#303030;
  border:none;
  padding:10px;
  color:white;
  outline: none;
}
@media screen and (max-width: 1500px) {
  .main {
    display:none;
  }
  .bre {
    margin-top:50px;
    margin-left: 25%;
  }

}
@media screen and (max-width: 600px) {
  .nav .first {
    margin-left:50px;
  }
}